body{
  margin: 20px;
}
.about-me {
  text-align: center;
}
#header {
    color : red;
  }
  #about{
    color: black;
  }
    #projects{
       color: orange;
    }
  h1{
    color: red;
  }
  .card bg-dark text-white{
    text-align: center;
  }
  .card-img{
    width: 100%;
  }
  .card-title{
    font-family: 'Lobster', cursive;
    color: #59A5D8;
  }
  #bar{
  --raisin-black: #272838ff;
--independence: #5d536bff;
--chinese-violet: #7d6b91ff;
--blue-bell: #989fceff;
--steel-blue: #347fc4ff
  }
  ul{
    text-align: center;
    margin: auto;
    
  }
.card-title{
text-align: center;
}
.card-text{
  text-align: center;
}
.card-body{
  margin-left: auto;
  margin-right: auto;
}
.navbar-brand{
font-family: 'Pacifico', cursive;
}
.lead{
  text-align: center;
}
